<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5a885">  <td>20/07/08 02:09:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PaytmInsiderGetAPITest.getCallForUpcomingMoviesAndSetItInJsonArray()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">&gt;&gt;getCallForUpcomingMoviesAndSetItInJsonArray</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/07/08 02:09:51</td>   <td>898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaytmInsiderGetAPITest.storeMoviesWithContentAvailableAszeroInExcelSheet()[pri:0, instance:interviewAPITest.PaytmInsiderGetAPITest@675d3402]">storeMoviesWithContentAvailableAszeroInExcelSheet</td> 
  <td>main@2094411587</td>   <td></td> </tr>
</table>
